@charset "utf-8";

/*** common.css ***/

.clear::after {
    content: "";
    display: block;
    clear: both;
}

section .title {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 360px;
    margin-bottom: 50px;
}
section .title img {
    width: 180px;
    height: 56px;
    display: block;
}
section .title h2 {
    font-size: 50px;
    font-weight: 800;
}
section .title h2 span {
    font-size: 50px;
    font-weight: 800;
    color: #F28D9F;
}

section .btn-more {
    color: #5D5D5D;
    border-bottom: 1px solid #5D5D5D;
    width: 108px;
    height: 26px;
    text-align: center;
    display: block;
}

/* 영문폰트 클래스 */
.eng-font {
    font-family: "Montserrat", sans-serif;
}
/* 공통 웹폰트 적용 */
body {
    font-family: "Noto Sans KR", sans-serif;
}

