@charset "utf-8";

/*** reset.css ***/

* {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none;

}
a { 
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400;
}
